.product-card{
    width: 300px;
    border: darkmagenta solid 2px;
    margin-bottom: 10px;
    border-radius: 15%;
}
.product-title{
   text-align: center;
    text-transform: uppercase;
}
.product-image{
    width: 100%;
    border-radius: 15%;
}