body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.mainDiv {
    border: 2px solid cadetblue;
    border-radius: 10px;
    height: 100px;
    width: 45%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(9, 152, 175, 0.24);
}

.userWrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    font-weight: bolder;
}

.userWrapper > button {
    width: 150px;
}

.infoOfUserDetails {
    position: relative;
    background: #fff;
    padding: 40px;
    width: 600px;
    margin: 20px auto 0 auto;
    box-shadow: 0 2px 4px rgba(100, 100, 100, .1);
    border-radius: 10px;
}

.infoOfUserDetails > div {
    padding-bottom: 10px;
}

.userDetails {
    font-size: 18px;
    font-weight: bolder;
}

.postOfCurrentUser {
    width: 90%;
    margin: 30px auto;
    display: block;
}

.userPostTitleWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userPostTitle {
    width: 17%;
    /*height: content-box;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 15px;
    margin-bottom: 10px;
    background: white;
    font-weight: 550;
}

.w-25 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 15px;
}

.postComments {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

button:active,
button:hover {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
}

